<h1>Product creation</h1>

<form action="{{ path('product_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_row(form.name) }}
    {{ form_row(form.category) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('product') }}">
            Back to the list
        </a>
    </li>
</ul>
